<div class="row well">
  <img class="col-md-offset-1 col-md-1" src="<%= @robot.avatar %>" alt="<%= @robot.name %>"/>
  <h3 class="col-md-3"><%= @robot.name %></h3>

  <a class="btn btn-primary col-md-1" href="/robots/<%=@robot.name%>/edit" role="button">Edit Robot</a>

  <form class="col-md-1" action="/robots/<%=@robot.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger" type="submit">Remove Robot (but why?)</button>
  </form>
</div>

  <p class="col-md-offset-1 col-md-6"><%= @robot.name %> is from <%= @robot.city %>, <%= @robot.state %>.<br><br>

  He/she/it was robot number: <%= @robot.id %> to be born/assembled (which happened on <%= @robot.birthdate %>)<br>and was hired on <%= @robot.date_hired %>.<br><br>

  His/hers/its area of expertise is: <%= @robot.department %></p>
